<%- include('partials/header'); -%>

<div class="container mt-lg-4">
  <h2>About Section</h2>
</div>

<%- include('partials/footer'); -%>

<script>
  const about = document.getElementById("about");
  about.className = "nav-link active";
</script>
